---
- name: Deploy Rust shell configuration
  ansible.builtin.copy:
    src: rust.zsh
    dest: "{{ ansible_facts['env']['HOME'] }}/.zshrc.d/rust.zsh"
    mode: "0644"
  when: ansible_facts["os_family"] != "Windows"

- name: Add Cargo to PATH (Windows)
  ansible.windows.win_path:
    elements:
      - "{{ ansible_facts['env']['USERPROFILE'] }}\\.cargo\\bin"
    scope: user
    state: present
  when: ansible_facts["os_family"] == "Windows"
