---
- name: Update apt cache
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_facts["pkg_mgr"] == "apt"

- name: Install kitty (Linux)
  become: true
  ansible.builtin.package:
    name: kitty
    state: present
