---
- name: Ensure winget is available
  ansible.windows.win_command: winget --version
  register: tmux_winget_version
  changed_when: false

- name: Install MSYS2 (via winget)
  community.windows.win_winget:
    name: MSYS2.MSYS2
    state: present
    exact: true

- name: Install tmux inside MSYS2
  ansible.windows.win_command: >-
    C:\msys64\usr\bin\bash.exe -lc "pacman -Sy --noconfirm --needed tmux"
  args:
    creates: C:\msys64\usr\bin\tmux.exe
